#home,
#home > div,
#home > div > div {
  min-height: 100%;
  height: 100%;
}

.coverCta {
  width: auto;
}

.coverCta > div {
  display: inline-block !important;
  width: auto !important;
}

.coverCta > div:after {
  height: calc(100% + 2rem);
  width: calc(100% + 1.25rem);
}
