/**
  THIS SHOULD ONLY CONTAIN GLOBAL CSS.

  PLEASE USE SCOPED (*.module.css or *.module.scss) related to 
  a specific component unless absolutely necessary
**/

/**
  MUNDANA GLOBAL OVERRIDES
**/
body {
  padding-top: 0 !important;
}

@media (prefers-color-scheme: dark) {
  body {
    background: var(--dark);
  }
  
  main, 
  main h1, 
  main h2, 
  main h3, 
  main h4,
  main h5, 
  main h6, 
  main p {
    color: var(--light);
  }
}

html.is-light body 
{
  background: var(--light);
}
   
html.is-light main, 
html.is-light main h1, 
html.is-light main h2, 
html.is-light main h3, 
html.is-light main h4,
html.is-light main h5, 
html.is-light main h6, 
html.is-light main p {
  color: var(--dark);
}

html.is-dark body 
{
  background: var(--dark);
}

html.is-dark main, 
html.is-dark main h1, 
html.is-dark main h2, 
html.is-dark main h3, 
html.is-dark main h4,
html.is-dark main h5, 
html.is-dark main h6, 
html.is-dark main p {
  color: var(--light);
}

/**
  TINACMS OVERRIDES
**/
html, 
body, 
#__next, 
/* Handle prod */
#__next > .is-not-editing,
#__next > .is-not-editing > main,
#__next > .is-not-editing > div,
#__next > .is-not-editing > div > div,
/* Handle editing */
#__next > div[class^="SiteWrapper"],
#__next > div[class^="SiteWrapper"] > .is-editing,
#__next > div[class^="SiteWrapper"] > .is-editing > div,
#__next > div[class^="SiteWrapper"] > .is-editing > div > div,
main {
  height: 100%;
  max-height: 100%;
}

#modal-root h1,
#modal-root h2,
#modal-root h3,
#modal-root h4,
#modal-root h5,
#modal-root p {
  color: var(--gray-dark) !important;
}