.Link {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

.Link h1,
.Link h2,
.Link h3,
.Link h4,
.Link h5,
.Link h6 {
  display: inline;
  text-decoration: none;
  background-image: linear-gradient(to right, #EB5454, #DF8383);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 5px;
  transition: background-size .3s;
}

.Link:hover h1,
.Link:hover h2,
.Link:hover h3,
.Link:hover h4,
.Link:hover h5,
.Link:hover h6 {
  background-size: 100% 5px;
}