.Heading {
  font-family: serif;
  margin: 0;
  padding: 0;
}

.h6 {
  font-size: 0.44em;
}

.h5 {
  font-size: 0.66em;
}

.h4 {
  font-size: 1em;
}

.h3 {
  font-size: 1.33em;
}

.h2 {
  font-size: 1.77em;
}

.h1 {
  font-size: 2.35em;
}

.title {
  font-size: 2.5em;
}

.strapline {
  font-size: 3.75em;
}

.headline {
  font-size: 4.00em;
}