.LongFormText {}

.LongFormLayout > * {
  margin-top: 1.66em;
}

.LongFormLayout:first-child > * {
  margin-top: 0;
}

.LongFormText blockquote {
  border-left: 0.2rem solid rgb(255, 225, 0);
  font-style: italic;
  margin-left: -1rem;
  padding-left: 1.8rem;
}

@media screen and (min-width: 960px) {
  .LongFormText blockquote {
    margin-left: -2rem;
  }
}

.LongFormText ol,
.LongFormText ul {
  margin-left: 3rem;  
}